use flake

export ENV_DIR=${PWD}
export SRC_DIR=${ENV_DIR}/linux
export PATH="$PATH:$ENV_DIR/scripts:$HOME/.local/bin"

source $HOME/.local/lib/kw/bash_autocomplete.sh
source $HOME/.config/kw/kw_prompt_current_env_name.sh
